<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CultureInfo" value="it-IT" />
		<add key="FileInputPath" value="C:\Users\fbubici\Desktop\Esercitazione\ItaliaTreni-console\ItaliaTreni.Console\file\in" />
		<add key="FileArchivePath" value="C:\Users\fbubici\Desktop\Esercitazione\ItaliaTreni-console\ItaliaTreni.Console\file\archive" />
		<add key="UrlApi" value="http://localhost:5130/api/files" />
		<add key="NumberOfElementsToImport" value="30" />
	</appSettings>
</configuration>